@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	font-family: 'Lato', sans-serif;
	background: white;


}
#logo{
	width: 100%;
	height: 100%;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
	min-width: 250px;
    max-width: 250px;
    background: rgb(255, 255, 255);
    color: #fff;
	transition: all 0.3s;
}
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: white;
}
#sidebar ul.components{
	padding: 20px 0px;
	border-bottom: 1px solid #777774;
}



#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
	color: #47525E;
}
#sidebar ul li a:hover {
    color: #E65100;
    ;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;

}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background:  #FF3D00 !important;
	color: #fff !important;


}

#sidebar p{
    color: #47525E;
    font-size: 120%;
    text-align: center;
}

#sidebarCollapse{
	background:#FF6F00;
	border:#FF6F00;
	margin-left: 30px;
	cursor: pointer;

}
#sidebarCollapse:focus{
    outline-style: none;
}



#teto{
	position: relative;
	background-color: #FF6F00;
	height: 52px;
	margin-left: -40px;
	margin-right: -20px;
}
#pedidosNum{
	color: white;
	font-size: 30px;
	margin-left: auto;
	margin-top: auto;
	transition: all 0.3s;

}
#auxh5{
	visibility: hidden;
}

#num_pedidos{
	color: red;
	font-size: 17px;
	margin-left: 7px;
}


/* FIM DO MENU */

#corpo {

    width: 100%;
    padding: 0px 20px 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;

}
.flex {
	display: flex;
}
.container {
	flex-wrap: wrap ;
	height: auto;
	margin-top: 25px;
	border-radius: 15px;
	border: 5px solid #c9c94e;
	width: 100%;
	justify-content: center;
	transition: all 0.3s;


}
.container h2{
	color: #969FAA;
	font-size: 20px;
	font-weight: 700;
	line-height: 34px;
	text-align: center;

}

#titulo {
	width: 100%;
	display: flex;

}
.fechar{
	margin-left: auto;
	background-color: white;
	cursor: pointer;
}

#titulo h1{
	color: #c9c94e;
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
}

.container .item{ /*a div dos itens ! */
	margin: 3px 5px 3px 0px; /* top right bot left ! */
	align-items: center;
}

#pedido{
	text-align: center;
	height: 300px;
	width: 300px;
}


/* parte de itens e quantidade */
.itensagrupados{
	height: 195px;
	margin-top: 25px;
	overflow-y: scroll;

}

#qtdenome {
	width: 200px;
	margin: auto;
	display: flex;
	height: 23px;

}

#qtdenome > p:nth-child(2){ /* preço sempre no caNTO DIREITO !! */
	margin-left: auto;
}

#horaedata{
	width: 230px;
	margin:auto; /* top right bot left ! */
	display: flex;
	justify-content: center;
}
#horaedata > p:nth-child(2){ /* preço sempre no caNTO DIREITO !! */
	margin-left: auto;
}


#entrega{
	height: 300px;
	width: 485px;
}


#endereco1 , #endereco2{
	width: 100%;
	margin: 25px auto ;	 /* top right bot left ! */
	display: flex;
	height: 18px;
}



#endereco1 > p:nth-child(2){ /* preço sempre no caNTO DIREITO !! */
	margin-left: auto;
}
#endereco2 > p:nth-child(2){ /* preço sempre no caNTO DIREITO !! */
	margin-left: auto;
}



#entrega section{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10%;
	border-top: 2px solid #FF6F00;
}


#valor{
	width: 50%;
	text-align: center;
}
.preco{
	color: #000000;
	font-size: 26px;
	font-weight: 400;
	line-height: 33px;
}
#cartao{
	display: flex;
	margin-left: 12%;
}
#cartao p {
	color: #000000;
	font-size: 15px;
	margin-top: 5px;
}
#cartao span{
	font-size: 18px;
	color: #E65100;
}
#cartao img{
	width: 30px;
	height: 32px;
}

#status{
	text-align: center;
	width: auto;
	margin-left: 5%;

}
#status div{
	text-align: left;
}
#status h5{
	color: #969FAA;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
}

#mudarstatus {
	font-size: 15px;

}
#Enviado{
	color: #E65100;
}

#cliente{
	height: 300px;
	width: 300px;
	text-align: center;
}
#cliente p {
	color: #000000;
	margin-top: 5px;
}

#cliente span{
	color: red;
}

#nome{
	font-size: 15px;

}

#pagina{
	transition: all 0.3s;

}
#pagina div{
	transition: all 0.3s;
}


#confirmar{
	border: 5px solid #FF6F00;
	width: 300px;
	height: auto;
	text-align: center;
	margin-top: 150px;
	display: none;
}
#confirmar p{
	font-size: 19px;
}
#confirmar button{
	margin-bottom: 10px;
}
#confirmarpedido{
	font-size: 23px;
	color: rgb(97, 100, 104);
}
#confirmarstatus{
	font-size: 23px;
	color: rgb(97, 49, 4);
}

#carregando{
	border: 5px solid #FF6F00;
	width: 300px;
	height: auto;
	text-align: center;
    margin-top: 150px;
    display: none;

}
#carregando p{
	font-size: 19px;
}

#gif{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Filtros */
.navbar  {
	justify-content: center;
}
#filtros{
	transition: all 0.3s;
	display: none;
}
#filtros button{
	margin-left: auto;

}
#titulofiltro{
	color: #969FAA;
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	text-align: center;
}

#recebidos{
	color: white;
	background-color: #FF3D00;
	border-color: #FF3D00;
}
#em_andamento{
	color: white;
}

/*NENHUM PEDIDO */
#nenhum{
	display: none;
	border: none;
	text-align: center;
}
#nenhum h1{
	color: rgb(64, 65, 66);
	font-size: 25px;
}

/*PEDIDOS FECHADOS */
#nenhum_titulo{
	border: none;
	align-items: center;
	text-align: center;
	display: block;
	display: none;

}
#nenhum_titulo h1{
	color: rgba(150, 159, 170 , 1);
	font-size: 30px;

}
#rejeitado{
	color: red;
}
#data{
/*	margin: 10px auto;
	display: flex;
	width: 100%;
	flex-wrap: wrap;*/
	flex-wrap: wrap ;
	height: auto;
	margin-top: 25px;
	border-radius: 0px;
	border: 0px;
	width: 100%;
	justify-content: center;
	transition: all 0.3s;
	height: auto;
	display: flex;
}
#data h3{
	font-size: 20px;
	text-align: center;
}
#data_pedido{
	width: auto;
}
#buscar{
	margin-left: 1px;
	background-color: #FF6F00;
	border-color:  #FF6F00;
}

@media only screen and (max-width:1000px)  and (min-height:276px){
	.container {
		transition: none;
	}
	#endereco1 , #endereco2{
		width: 100%;
		margin: 10px auto ;	 /* top right bot left ! */
		display: block;
		height:auto;

	}
	#endereco1 > p:nth-child(2){ /* preço sempre no caNTO DIREITO !! */
		margin-top: -3px;
		margin-left: 0px;
	}
	#endereco2 > p:nth-child(2){ /* preço sempre no caNTO DIREITO !! */
		margin-left: 0px;
	}
	#entrega{
		height: 350px;
		width: 300px;
	}

	#entrega section{
		margin-top: 10%;
	}
	#pagina{
		transition: none;

	}
	#pagina div{
		transition: none;
	}



}
